
h1{
    font-family: 'FrutigerBlk';
    font-size: 9vw;
}

h2{
    font-family: 'FrutigerRoman';
    font-size: 6vw;
    line-height: 8vw;
}

h4{
    font-family: 'FrutigerBlk';
    font-size: 6vw;
}

h5{
    font-family: 'FuturaBookOblique';
    font-size: 6vw;
    color:#3F88C5;
}

h6{
    font-family: 'FrutigerBlk';
    font-size: 4vw;
}

i{
    font-size: 10vw;
}

