.container{
    width: 100%;
}

body{
    background-color:#F6FBFF;
    color:#595959;
    width: 100vw;
    padding: 0;
    margin:0;
    margin-top: 10vh;
    overflow-x: hidden;
}

.collapsible-header{
    background-color:#F6FBFF;
}

.collapsible-body{
    width: 85%;
    margin: auto;
}

/*
h1{
    font-family: 'FrutigerBlk';
    font-size: 9vw;
}

h2{
    font-family: 'FrutigerRoman';
    font-size: 7vw;
    line-height: 12vw;
}

h3{
    font-family: "FrutigerLight";
    font-size: 4vw;
    line-height: 5vw;
    letter-spacing: 0.1vw;
}

h4{
    font-family: 'FrutigerBlk';
    font-size: 6vw;
}

h5{
    font-family: 'FuturaBookOblique';
    font-size: 6vw;
    color:#3F88C5;
}

h6{
    font-family: 'FrutigerBlk';
    font-size: 4vw;
}

i{
    font-size: 10vw;
}

*/

p{
    margin-top: 2vh;
    margin-bottom: 5vh;
    letter-spacing: 0.2px;
    line-height: 22px;
}

#titleBar{
    position: fixed;
    top: -10px;
    width: 100%;
    z-index: 3;
    padding-bottom: 5px;
    background-color: #F6FCFB;
   
   

}



.parallax img{
    width: 100%;
    
    
    
}

.wordmark{
    padding: 0;
}

.wordmark h1{
    margin-bottom: 2.75vh;
}

.links{
    display: inline;
}

.links img{
    height: 7vw;
    margin-top: 1vh;
}